@*@using System.Security.Claims
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@{
    string Name = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Name).Value;
    string Rights = httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.Role).Value;
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HorecaApp.WebMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HorecaApp.WebMVC.styles.css" asp-append-version="true" />
    <link href="~/css/classic.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/app.js"></script>
</head>
<body>
    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content">
                <div class="sidebar-user">
                    <div class="font-weight-bold">Welcome,</div>
                    @*<div class="font-weight-bold">@Name </div>*@

                </div>

                <ul class="sidebar-nav">
                    @*@if (Rights == "Level2")
                    {*@
                    <li class="sidebar-header">
                        Administration
                    </li>
                    <li class="sidebar-item">
                        <a class="nav-link text-dark" asp-controller="Location" asp-action="DisplayLocations"><i class="align-middle mr-2 fas fa-fw fa-folder"></i>Stocks</a>
                        <a class="nav-link text-dark" asp-controller="Department" asp-action="CreateProduct"><i class="align-middle mr-2 fas fa-fw fa-folder"></i>Add Product</a>

                    </li>
                    @*}*@

                    <li class="sidebar-header">
                        Create Employee Interface
                    </li>
                    <li class="sidebar-item">
                        <a class="nav-link text-dark" asp-controller="Department" asp-action="DisplayLocationForDepartments"><i class="align-middle mr-2 fas fa-fw fa-folder"></i>Departments</a>
                        <a class="nav-link text-dark" asp-controller="Authentification" asp-action="ViewUsers"><i class="align-middle mr-2 fas fa-fw fa-folder"></i>Create Employee User</a>
                        <a class="nav-link text-dark" asp-controller="Recipe" asp-action="ViewAllProducts"><i class="align-middle mr-2 fas fa-fw fa-folder"></i>Create Recipe</a>
                    </li>
                    <li class="sidebar-header">
                        Reports
                    </li>

                </ul>
                <div>
                    <a asp-controller="Authentification" asp-action="Logout">Logout</a>
                </div>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-theme">
                <a class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>
            </nav>

            <main class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="footer">
                
            </footer>
        </div>

    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
