@using Horeca.DataBaseLibrary.Models
@model dynamic
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Are you sure you want to sell</h5>
            </div>
            <form asp-action="InsertSell">
                <div class="card-body">
                    <div>Product name</div>
                    <input class="form-control" type="text" id="Product" name="Product" />
                    <div>Price</div>
                    <input class="form-control" type="number" id="Price" name="Price" />
                </div>
                <input type="submit" value="Sell" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
