@model IEnumerable<Horeca.DataBaseLibrary.Models.ProductModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Products</h5>
                <h6 class="card-subtitle text-muted">Select product to create recipe</h6>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:40%;">Product</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Product
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>