html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btnView {
    background-color:rgb(36,159,243);
    border-color:rgb(36,159,243);
}
.btnTableWith {
    background-color: rgb(216, 213, 27 );
    border-color: rgb(216, 213, 27 );
}
.btnAdd {
    background-color: rgb(77, 200, 28);
    border-color: rgb(77, 200, 28);
}